@import "tailwindcss";

:root {
  --text: #3f3f44;
  --foreground: #f9f5f0;
  --background: #f9f5f0;
  --decot-pink: #f7c9cf;
  --decot-blue: #6fa3c1;
}

@theme inline {
  --color-background: var(--background, --foreground);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  
}
